
<%- include("templates/header") -%>

    <h1>Solar System Homepage</h1>
    <p>This website is about the solar system use the nav bar to see information on some of the planets</p>
    
<%- include("templates/footer") -%>