
<%- include("templates/header") -%>

    <h1>Jupiter</h1>
    <img src = "img/Jupiter480px.jpg" alt="Jupiter">
    <p>Jupiter is the fifth planet from the sun and orbits the sun every 12 years</p>
    <p>Jupiter is the largest planet its diameter is 139,820 km</p>
    <p>Jupiter is named after the Roman god of the sky</p>
    
<%- include("templates/footer") -%>