
<%- include("templates/header") -%>

    <h1>Mercury</h1>
    <img src = "img/Mercury480px.jpg" alt="Mercury">
    <p>Mercury is the first planet from the sun and orbits the sun every 87.9691 days</p>
    <p>Mercury is the smallest planet its diameter is 4880 km</p>
    <p>Mercury is named after the Roman Messanger god</p>
    
<%- include("templates/footer") -%>