
<%- include("templates/header") -%>

    <h1>Venus</h1>
    <img src = "img/Venus480px.jpg" alt="Venus">
    <p>Venus is the second planet from the sun and orbits the sun every 243.025 days</p>
    <p>Venus is similar in size to earth its radius is 12,104 km</p>
    <p>Venus is named after the Roman goddess of love</p>
    
<%- include("templates/footer") -%>