img{
    width: 240px;
    height: 240px;
    border: solid #555555 5px;
}

body{
    color: #eeeeee;
    background-color: #111111;
}

h1{
    color: white;
}

.jumbotron{
    background-color: #555555;
}

a{
    text-decoration: none;
    color: #eeeeee;
}

a:hover{
    text-decoration: none;
    color: #bbbbbb;
}